
<div id="body">

<div style="margin-left:170px;;width:500px">

<p>The Online Books Page is a website that facilitates access to books that are freely readable over the Internet. It also aims to encourage the development of such online books, for the benefit and edification of all. </p>
<p>Our primary aim is to support any institute in managing their library members and books and all reports about fine. But we are also fully committed to widening participation, and access to many of our services is provided for individual researchers, schools and the local community.</p>
</div>

</div>	<!-- end of body div -->
