<body >
<div id="border" style="border-right: solid #bbbbbb;border-right-width:1px; border-left: solid #bbbbbb;border-left-width:1px; border-top: solid #bbbbbb;border-top-width:1px;">
<div id="header">
<br/>
	<table border=0><tr>
	<td><span style="float:right"><img src="/images/book_logo2.jpg" height=70 width=100></span></td>
	<td><h1><span style="float:right"> The Central Library For Public </span></h1>
	<p><span style="float:right"> For you, With you and By you </span></p></td>
	<td><img src="/images/book_logo2.jpg" height=70 width=100></td></tr>
	</table>
	
	<p><span style="color:red">welcome <TMPL_VAR NAME=username></span><a href="/cgi-bin/admin/logout.cgi" style="float:right">Logout</a></p>

	<div id="buttons" >
		<table border="0" cellpadding="0" cellspacing="0"><tr>
			<td><a href="/cgi-bin/su/su_home.cgi" class="button1">Home</a><br></td>
			<td><a href="/cgi-bin/su/su_search.cgi" class="button1"">Search</a><br></td>
			<td><a href="/cgi-bin/su/su_member_search.cgi"  class="button1">Member</a><br></td>
			<td><a href="/cgi-bin/su/issue/su_issue.cgi"class="button1">Issue</a><br></td>
			<td><a href="/cgi-bin/su/return/su_return.cgi"class="button1">Return</a><br></td>
			<td><a href="/cgi-bin/su/profile/su_profile.cgi"  class="button1">Profile</a><br></td>
			</tr>
		</table>
	</div>	<!-- end of button div -->
</br>
</div>	<!-- end of header div -->
