<body >

<div id="border" style="border-right: solid #bbbbbb;border-right-width:1px; border-left: solid #bbbbbb;border-left-width:1px; border-top: solid #bbbbbb;border-top-width:1px;">
<div id="header">
<br/>
	<table border=0><tr>
	<td><span style="float:right"><img src="/images/book_logo2.jpg" height=70 width=100></span></td> 
	<td><h1><span style="float:right"> The Central Library For Public </span></h1>
	<br/><span style="float:right"> For you, With you and By you </span><td>
	<td><span style="float:right"><img src="/images/book_logo2.jpg" height=70 width=100></span></td>
	</tr>
	</table>
	<p span style="color:red">welcome <TMPL_VAR NAME=username></span><a href="/cgi-bin/admin/logout.cgi" style="float:right">Logout</a></p>
	<div id="buttons">
		<table border="0" cellpadding="0" cellspacing="0"><tr>
			<td><a href="/cgi-bin/user/user_home.cgi" class="button1">Home</a></td>
			<td ><a href="/cgi-bin/user/user_search.cgi" class="button1"">Search</a></td>
			<td ><a href="/cgi-bin/user/issue/user_issued.cgi"  class="button1">Issued</a></td>
			<td ><a href="/cgi-bin/user/return/user_returned.cgi"  class="button1">Returned</a></td>
			<td ><a href="/cgi-bin/user/profile/user_profile.cgi"  class="button1">Profile</a></td>
			<td ><a href="/cgi-bin/user/problem/user_problem.cgi"  class="button1">Problem</a></td>
		</tr></table>
	</div>	<!-- end of button div -->
<br/>
</div>	<!-- end of header div -->
