
<div id="body" >

<p>Form for New Member</p>
	<form action="/cgi-bin/admin/admin_member_add_submit.cgi" method="post" name="add_member" value="add_member">
		<table border=0 style="margin-left:220px;margin-right:0px;text-align:left">
				<tr>
					<td>ID</td>
					<td><input name="txtid" type="text" value="<tmpl_var name=txtid>" readonly/></td>
					<td class="message"><tmpl_var name=varid></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input name="txtname" type="text" value="<tmpl_var name=txtname>" onblur="valid_name(this.value)"/></td>
					<td id="varname" class="message"><tmpl_var name=varname></td>
				</tr>
				<tr>
					<td>Birth Date</td>
					<td><input type="Text" name="txtbirthdate" id="birthdate" maxlength="25" size="19" value="<tmpl_var name=txtbirthdate>" readonly><a href="javascript:NewCal('birthdate','mmddyyyy')"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
					<td class="message"><tmpl_var name=varbirthdate></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input name="txtaddress" type="text" value="<tmpl_var name=txtaddress>"required/></td>
					<td class="message"><tmpl_var name=varaddress></td>
				</tr>
				<tr>
					<td>City</td>
					<td><input name="txtcity" type="text" value="<tmpl_var name=txtcity>" onblur="valid_city(this.value)" required/></td>
					<td id="varcity" class="message"><tmpl_var name=varcity></td>
				</tr>
				<tr>
					<td>State,Country</td>
					<td><input name="txtstate" type="text" value="<tmpl_var name=txtstate>" required/></td>
					<td class="message"><tmpl_var name=varstate></td>
				</tr>
				<tr>
					<td>Sex</td>
					<td><select name="txtsex" size="1" ><option value="male" <tmpl_var name=male>>male</option><option value="female" <tmpl_var name=female>>female</option></select></td></tr>
					<td class="message"><tmpl_var name=varsex></td>
				<tr>
					<td>Mobile Number</td>
					<td><input name="txtphno" type="text" value="<tmpl_var name=txtphno>" onblur="valid_phno(this.value)" required/></td>
					<td id="varphno" class="message"><tmpl_var name=varphno></td>
				</tr>
				<tr>
					<td>Join Date</td>
					<td><input type="Text" name="txtjoindate" id="join_date" maxlength="25" size="19" value="<tmpl_var name=txtjoindate>" readonly><a href="javascript:NewCal('join_date','mmddyyyy')"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
					<td class="message"><tmpl_var name=varjoindate></td>
				</tr>
				<tr>
					<td>User Type</td>
					<td><select name="txtusertype" size="1"><option value="user" <tmpl_var name=user>>User</option><option value="librarian" <tmpl_var name=superuser>>Librarian</option><option value="admin" <tmpl_var name=admin>>Admin</option></select></td>
					<td class="message"><tmpl_var name=varusertype></td>
				</tr>				
				<tr>
					<td>Username</td>
					<td><input name="txtusername" type="text" value="<tmpl_var name=txtusername>" onblur="valid_username(this.value)"/></td>				
					<td id="varusername" class="message"><tmpl_var name=varusername></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input name="txtpassword" type="password" id="pass" onkeyup="passwordStrength(this.value)" required/></td>
					<td class="message"><tmpl_var name=varpassword>
				</tr>
				<tr>
					<td></td><td><div id="passwordStrength" class="strength0" style="width:100%;height:16px"></div></td>
					<td style="width:15pc"><div id="passwordDescription" class="message"></div></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input name="txtconfpassword" type="password" required/></td>
				</tr>
				<tr><td></br></td></tr>
				<tr>
					<td></td>
					<td><input class="button" name="submit" value="Submit" type="submit"></td>
				</tr>
		</table>
	</form>

</div>	<!-- end of body div -->
