
<div id="body">
	<div id="fine">
		<br><br><br><br>
		<!--================ if fine then this table is printed =========== -->
		<p>Fine</p>
		<table border=2  style="background-color:white;">
			<tr  style="background-color:#000080;color:white;"><td colspan=2><tmpl_var name=library></td></tr>
			<tr><td><b>Name</b></td><td><tmpl_var name=name></td></tr>
			<tr><td><b>Fine</b></td><td><tmpl_var name=fine> Rs.</td></tr>
			<tr>
				<td><b>Book IDs</b></td>
				<td><tmpl_loop name=finebooks>	
						<tmpl_var name=bookid>, 
					</tmpl_loop>
				</td>
			</tr>
			<tr><td><b>Date</b></td><td><tmpl_var name=date></td></tr>
			<td></td>
		</table>
	</div> <!-- end of fine div -->
	<p><br><tmpl_var name=books> book(s) returned successfully</p>
	
	<td><a href="/cgi-bin/admin/return/admin_return.cgi"><input type="button" value="OK"></a></td><input type="button" value="Print" onclick="tablePrint();">  
</div> <!-- end of fine div -->

