<div id="body" >

<!-- for adding new group of books -->

<p>Form for New Book</p>
	<form action="/cgi-bin/admin/book/admin_book_add_submit.cgi" method="post" name="add_book" value="add_book">
		<table border=0 style="margin-left:210px;margin-right:0px;text-align:left;">
				<tr>
					<td>ID</td>
					<td><input name="txtid" type="text" value="<tmpl_var name=txtid>" readonly/></td>
					<td class="message"  style="width:15pc"><tmpl_var name=varid></td>
				</tr>
				<tr>
					<td>Title</td>
					<td><input name="txttitle" type="text" value="<tmpl_var name=txttitle>" required/></td>
					<td class="message"><tmpl_var name=vartitle></td>
				</tr>
				<tr>
					<td>Subject</td>
					<td><input type="Text" name="txtsubject" value="<tmpl_var name=txtsubject>" required/></td>
					<td class="message"><tmpl_var name=varsubject></td>
				</tr>
				<tr>
					<td>Tag(seperat by ',')</td>
					<td><input name="txttag" type="text" value="<tmpl_var name=txttag>"required/></td>
					<td class="message"><tmpl_var name=vartag></td>
				</tr>
				<tr>
					<td>Author(seperat by ',')</td>
					<td><input name="txtauthor" type="text" value="<tmpl_var name=txtauthor>" required/></td>
					<td class="message"><tmpl_var name=varauthor></td>
				</tr>
				<tr>
					<td>Edition</td>
					<td><input name="txtedition" type="text" value="<tmpl_var name=txtedition>" required/></td>
					<td class="message"><tmpl_var name=varedition></td>
				</tr>
				<tr>
					<td>Publisher</td>
					<td><input name="txtpublisher" type="text" value="<tmpl_var name=txtpublisher>" required/></td>
					<td class="message"><tmpl_var name=varpublisher></td>
				<tr>
					<td>Number of Copy</td>
					<td><input name="txtcopy" type="text" value="<tmpl_var name=txtcopy>" required/></td>
					<td class="message"><tmpl_var name=varcopy></td>
				</tr>
				<tr>
					<td>Price</td>
					<td><input name="txtprice" type="text" value="<tmpl_var name=txtprice>" required/></td>					
					<td class="message"><tmpl_var name=varprice></td>
				</tr>

				<tr><td></br></td></tr>
				<tr>
					<td></td>
					<td><input class="button" name="submit" value="Submit" type="submit"></td>
				</tr>
		</table>
	</form>

</div>	<!-- end of body div -->
