
<div id="body">

	<form action="/cgi-bin/admin/admin_search_book.cgi" method="post" name="login_1" value="login_1">
				<p>&nbsp</p>
				<table align=center><tr>
						<td>BookTitle <input name="title" size="15" type="text" placeholder="search by title"/></td>
						<td>Author <input name="author" size="15" type="text" placeholder="search by author"/></td>
						<td>Group Id <input name="id" size="15" type="text" placeholder="search by Group ID"/></td>
					</tr>
					<tr>
						<td>Publisher <input name="publisher" size="15" type="text" placeholder="search by publication"/></td>
						<td>Subject<input name="subject" size="15" type="text" placeholder="subject e.g perl,java"/></td>
						<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tag <input name="tag" size="15" type="text" placeholder="tag e.g programming"/></td>
					</tr>
				</table>
				<p style=" margin-left:70px;">
					<input class="button" value="Search" type="submit"/></p>
	</form>


</div>	<!-- end of body div -->
