<div id="body">
<p><b>About Us</b></p>
<div class="aboutus">
<p>
    The Central Library is the international scientific, technical, medical, and scholarly publishing business of John Wiley & Sons, with strengths in every major academic and professional field and partnerships with many of the world's leading societies. The Central Library publishes nearly 1,500 peer-reviewed journals and 1,500+ new books annually in print and online, as well as databases, major reference works and laboratory protocols. For more information, please visit www.wileyblackwell.com or our online platform, Wiley Online Library (wileyonlinelibrary.com), one of the world's most extensive multidisciplinary collections of online resources, covering life, health, social and physical sciences, and humanities.
    </br></br>
    Wiley Online Library hosts the world's broadest and deepest multidisciplinary collection of online resources covering life, health and physical sciences, social science, and the humanities. It delivers seamless integrated access to over 4 million articles from 1500 journals, over 10,000 online books, and hundreds of reference works, laboratory protocols and databases.
    </br></br>
    Featuring a clean and simple interface, this online service delivers intuitive navigation, enhanced discoverability, expanded functionalities and a range of personalization and alerting options.
    </br></br>
    <ul>
        <li>Easy-to-Use New Design: Developed in consultation with users to deliver intuitive navigation and easy access to articles, chapters, references, and supplementary information.</li>
    
        <li>Enhanced Tools to Discover Relevant Content: Comprehensive search engine optimization ensures easy discoverability of content, delivering relevant and immediate results to users</li>
    
        <li>More Ways to Stay Up-to-Date: Content alerts and RSS feeds to keep you updated with the latest published research, including journal tables of contents, EarlyView and AcceptedArticles articles, and search results.</li>
    </ul>
</p>
</div> <!-- end of aboutus div -->

</div> <!-- end of body div -->
