<div id="FAQ" style="margin-left:40px;margin-top:190px;">

<span style="text-align:center"><p><b>Frequently Asked Questions</b></p></span><br/>


	<!-- ===============  ===============  =========  Question 1  =========  ===============  =============== -->
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q1');"  ><span class="ques">Q: What are the opening hours of the libraries?</span><br>
		<div id="Q1" class="question" style="text-align:left"><br>Library opening hours: 8:00 A.M to 10:00 P.M 
		<br><br>staff recess hours : 1:30 P.M to 3:00 P.M </div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 2  =========  ===============  =============== -->	
	<div  class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q2');"><br><span class="ques">Q: How do I join the Library? </span><br>
		<div id="Q2" class="question" style="text-align:left"><br>Staff and students at The Open University are registered automatically.  The ID/matriculation card also acts as a Library borrower card
	<br><br>
	Research postgraduates/staff of other Universities may also register for borrowing privileges with a valid Sconul Research Extra card from their own University Library
	<br><br>
	Non-members of the University are also welcome to use the Library.  No fee is required for consultation, though a membership card must be completed at the Main Library Service Desk.   Please bring identification that confirms your name and current address.   A fee is payable if borrowing privileges are required
	<br><br>
	Please note – due to licence restrictions, only staff and students of this University are eligible to use the Library's online resources.  The computer classrooms are also for University staff and student use only</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 3  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q3');"><br><span class="ques">Q: What are the telephone numbers for contacting the Library? </span><br>
		<div id="Q3" class="question" style="text-align:left"><br>The Library Office can be contacted on (01334) 462281 <br> The Main Library Service Desk on (01334) 462283. <br> Fax +44 (0)23 8059 3131<br> Mobile No. : +919913156564 <br> e-mail addresses :<a href="mailto:mukeshbhoj@yahoo.com">mukeshbhoj@yahoo.com</a> </div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 4  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q4');"><br><span class="ques">Q: What should I do if I've lost my Library card?  </span><br>
		<div id="Q4" class="question" style="text-align:left"><br>Staff with lost cards should e-mail <a href="mailto:mukeshbhoj@yahoo.com">mukeshbhoj@yahoo.com</a>  or telephone (46) 2755/2532 to report the loss.<br><br>
	Non-St Andrews students and staff, and Admitted readers, should report lost cards and changes of address to the Main Library Service Desk (01334) 462283 or Mobile No. +919913156564</div>
	</div>
	
	
	
	<!-- ===============  ===============  =========  Question 5  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q5');"><br><span class="ques">Q: How to search a book in Library ? </span><br>
		<div id="Q5" class="question" style="text-align:left"><br>Simply by using this website, click on <a href='/cgi-bin/search.cgi'> 'Search'</a> and then you can simply search by <br>1)Book title <br>2)Book Author <br>3)Books' Group Id <br>4)Books' Publishers <br>5)Subject of that book <br>6) and tags.<br>E.g. suppose we require one book of Java named 'Java The complete Reference' By Herbert Schildt and Published by Oracle Press , 8th edition. So simply write its name in title, author name , publisher , and tag is java. So you will find a perfact result.  </div>
	</div>
	
	
	
	<!-- ===============  ===============  =========  Question 6  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q6');"><br><span class="ques">Q: How and when will I use the problem link ? </span><br>
		<div id="Q6" class="question" style="text-align:left"><br>If you find any problem during interacting with library staff then please send a mail with that problem to <a href="mailto:mukeshbhoj@yahoo.com">mukeshbhoj@yahoo.com</a> or write your problem in Problem Link that facility you have given in your accout.<br>You can also write about any book that you can not find or any book you find in bad condition or any problem with this website.</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 7  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q7');"><br><span class="ques">Q: What should I do if I can't find a book? </span><br>
		<div id="Q7" class="question" style="text-align:left"><br>The online search, will tell you if the item has been borrowed.  If it's not on loan and not where it should be on the shelves, it might be in the re-shelving section (near the stairs on Levels 3 and 4) or being consulted.  If you still can't find it, ask at the Service Desk<br><br>
	If still you don't able to find please use problem section and send your problem to admin.</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 8  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q8');"><br><span class="ques">Q: How many items can I borrow?  </span><br>
		<div id="Q8" class="question" style="text-align:left"><br>All new users can borrow 2 books at a time and can also increase this quantity by payig 100Rs. as a deposit for each extra books .</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 9  =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q9');"><br><span class="ques">Q: How long can I borrow for? </span><br>
		<div id="Q9" class="question" style="text-align:left"><br>You can borrow upto 30 days and then you have to pay 1Rupee per day, it means that if you'll borrow for 35 days then you'll have to pay 5Rs. as a fine<br><br>Note: The day on which you'll return book is also counted in your borrowed days.</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 10 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q10');"><br><span class="ques">Q: Can someone show me how to research a topic? </span><br>
		<div id="Q10" class="question" style="text-align:left"><br>Yes, the Library has staff who can introduce you to the most relevant print and electronic resources, for your subject.   Information skills subject seminars are also held for groups, arranged in conjunction with Schools.  Just ask at the Service Desk if you would like this type of individual help and staff there will refer you on to an appropriate person</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 11 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q11');"><br><span class="ques">Q: Where do I ask if I have a question? </span><br>
		<div id="Q11" class="question" style="text-align:left"><br>The Service Desk acts as the first point of contact for enquiries.  Staff there will arrange appropriate assistance for you, referring enquiries on to specialist staff or Library departments, if necessary. <br><br> The IT Helpdesk deals with computer-related matters, including computer accounts, email problems and issues arising in the computer classrooms</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 12 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q12');"><br><span class="ques">Q: What will I do if I forget my password/username ? </span><br>
		<div id="Q12" class="question" style="text-align:left"><br>If you forget your username or password then contact service desk / appropriate person and then meet Head Librarian , show your documents and if everything is ok then Head Librarian will provide you your new username / password.<br><br>Note : Becareful and do not share it with anyone. </div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 13 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q13');"><br><span class="ques">Q: Are there computers I can use in the Library? </span><br>
		<div id="Q13" class="question" style="text-align:left"><br>There is a large cluster of 50-60 PCs on Level 2 of the Main Library which University staff and students are welcome to use for searching SAULCAT, library catalogues, online databases and the Internet, using e-mail, word-processing, spreadsheets, etc.  They are not bookable, but waiting times, if any, are generally short
	
		<br><br>If you need any assistance with programs or e-mail, please ask the IT Helpdesk staff.   Help with finding information and using the Library's online databases can be provided by Library staff
	
		<br><br>There is wireless connectivity to the University network, in the Library, if you wish to use your laptop, and IT Helpdesk staff can provide more information.   There are also many other computer classrooms around campus which are freely available to staff and students of the University</div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 14 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q14');"><br><span class="ques">Q: What will I do if I forget my password/username ? </span><br>
		<div id="Q14" class="question" style="text-align:left"><br>If you forget your username or password then contact service desk / appropriate person and then meet Head Librarian , show your documents and if everything is ok then Head Librarian will provide you your new username / password.<br><br>Note : Becareful and do not share it with anyone. </div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 15 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q15');"><br><span class="ques">Q: What will I do if I want to know the books information I have issued ? </span><br>
		<div id="Q15" class="question" style="text-align:left"><br>You have given an username and password as you became our user. So Login using these username and password and then click on 'Issued' link where you can find all the information about books which are still issued. </div>
	</div>
	
	
	<!-- ===============  ===============  =========  Question 16 =========  ===============  =============== -->	
	<div class="collapsedNode" style="cursor:pointer" onclick="toggle_div('Q16');"><br><span class="ques">Q: What will I do if I want to know that the particular book i have returned is correctly returned/not ? </span><br>
		<div id="Q16" class="question" style="text-align:left"><br>You have given an username and password as you became our user. So Login using these username and password and then click on 'Returned' link where you can find all the information about those books which are issued in past and then returned by you.</div>
	</div>


<br><br>

</div>	<!-- end of FAQ div -->
