<div id="body">
<p><b>Help</b></p>

<!-- Help provides informations only about how to use Library nothing else -->
<!-- ===================================================================== -->

	<div id="AskALibrarian" class="help_" style="width:250px;margin-left:180px;margin-top:10px;">
		<img src="/images/ask.jpg" style="float:left;margin-left:5px;margin-top:5px;">
		<p  style="float:left;text-align:left;">
		<b>Ask a Librarian</b>Submit an enquiry about Library services, including online resources.
		</p>
	</div> <!-- end of AskALibrarian div -->
	
	<div id="ISHelpdesk" class="help_" style="width:250px;margin-left:10px;margin-top:10px;">
		<img src="/images/library-help.jpg" style="float:left;margin-left:5px;margin-top:5px;">
		<p  style="float:left;text-align:left;">
		<b>IS Helpdesk</b>
		Help with all aspects of using the library is available at the helpdesk so kindly visit Help Desk.
		</p>
	</div> <!-- end of ISHelpdesk div -->
	
	<div id="Comments" class="help_" style="width:250px;margin-left:180px;margin-top:10px;">
		<img src="/images/comments.jpg" style="float:left;margin-left:5px;margin-top:5px;">
		<p  style="float:left;text-align:left;">
		<b>Comments, complaints or suggestions</b><br>
		Please contact us with comments, complaints or suggestions about the Library service.
		</p>
	</div> <!-- end of Comments div -->
	
	<div id="Copyright" class="help_" style="width:250px;margin-left:10px;margin-top:10px;">
		<img src="/images/copyright.jpg" style="float:left;margin-left:5px;margin-top:5px;">
		<p  style="float:left;text-align:left;">
		<b>Copyright the information and enquiries</b><br>
		All reproduction from published material is subject to Copyright law. Information and enquiries.
		</p>
	</div> <!-- end of Copyright div -->

</div> <!-- end of body div -->
