				
<div id="body">

<p>Change Password<p>

	<div class="password_change">
		<form action="/cgi-bin/su/profile/su_change_password_submit.cgi" method="post" name="change_password" value="change_password" >
			<table border=0 style="margin-left:220px;margin-right:0px">
				<tr>
					<td>Old Password</td>
					<td><input name="txtoldpassword" type="password"  required /></td>
					<td class="message"><tmpl_var name=varoldpassword></td>
				</tr>
				<tr>
					<td>New Password</td>
					<td><input name="txtnewpassword" type="password"  onkeyup="passwordStrength(this.value)" required/></td>
					<td class="message"><tmpl_var name=varnewpassword></td>
				</tr>	
				<tr>
					<td></td><td><div id="passwordStrength" class="strength0"></div></td>
					<td style="width:15pc"><div id="passwordDescription" style="color:red"></div></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input name="txtconfpassword" type="password" required /></td>
				</tr>
				<tr>
					<td></td>
					<td><input class="button" type="submit" name="changepassword" value="Confirm" /></td>
				</tr>
			</table>
		</form>
	</div> <!-- end of password_change div -->
</div> <!-- end of nody div -->
